.contact-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-body {
    min-height: 150px;
}

section.contact-details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}